@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Employee WebApi</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Employee WebApi</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: employees">
                    <li>
                        <strong><span data-bind="text: FirstName"></span></strong>: <span data-bind="text: LastName"></span>
                        <small><a href="#" data-bind="click: $parent.getEmployeeDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>First name</td><td data-bind="text: detail().FirstName"></td></tr>
                <tr><td>Last name</td><td data-bind="text: detail().LastName"></td></tr>
                <tr><td>Birthdate</td><td data-bind="text: detail().Birthdate"></td></tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <div>
                            <span data-bind="text: detail().Department.Name"></span>
                            <span data-bind="visible: true">(Leader: <span data-bind="text: detail().Department.Leader.FirstName"></span>)</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Employee</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addEmployee">

                    <div class="form-group">
                        <label for="inputDepartment" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-10">
                            <select data-bind="options:departments, optionsText: 'Name', value: newEmployee.Department"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newEmployee">
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="inputFirstName" class="col-sm-2 control-label">First name</label>
                                </td>
                                <td>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputFirstName" data-bind="value:FirstName" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="inputLastName" class="col-sm-2 control-label">Last name</label>
                                </td>
                                <td>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputLastName" data-bind="value:LastName" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="inputBirthdate" class="col-sm-2 control-label">Birthdate</label>
                                </td>
                                <td>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputBirthdate" data-bind="value:Birthdate" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>